*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;

}
main{
    width: 1140px;
    margin: 0 auto;
}

/* header */
header{
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-bottom: 74px;
}
header h2{
    font-size: 48px;
    color: #0D1321;
}
header p{
    font-size: 16px;
    color: #0D1321;
    
    padding-top:26px ;
    padding-bottom:32px ;
}
header button a{
    padding: 21px 24px;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    text-decoration: none;

}
header button{
    margin-bottom: 50px;

}
header img{
    padding-top:26px ;
    padding-bottom:32px ;

}
/* Why Web Development?? */
.Why-Web-Development{
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding-bottom: 80px;
}
.heading{
    text-align: center;
}
.heading h2{
    font-size: 32px;
    padding-top: 80px ;
    padding-bottom: 24px ;
    font-weight: bolder;

}
.heading p{

    font-size: 16px;
    color: rgba(13, 19, 33, 1);
}
/* dev-1 */
.dev-1{
    display: flex;
    margin-top: 48px;
    gap: 98px;
    background-color: white;
    border-radius: 16px;
    width: 946px;
    margin: 0 auto;
    margin-top: 50px ;
}
.dev-1 a{
    color: #0D1321;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
}
.dev-1 button{
    background-color: white;
    padding: 12px 20px;
    
    margin-left: 48px;
    margin-bottom: 32px;

}
.dev-1-1 h5{
    font-size: 24px;
    padding-top: 58px;
    padding-left: 48px;

}
.dev-1-1 p{
    font-size: 16px;
    padding-top: 16px;
    padding-left: 48px;
    padding-bottom: 32px;

}
.dev-1 img{
    width: 274px;
    height: 240px;
    margin: 48px 48px 48px 0;
}
/* dev-2 */
.dev-2{
    display: flex;
    margin-top: 48px;
    gap: 98px;
    background-color: white;
    border-radius: 16px;
    width: 946px;
    margin: 0 auto;
    margin-top: 50px ;
}
.dev-2 a{
    color: #0D1321;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
}
.dev-2 button{
    background-color: white;
    padding: 12px 20px;
    
    margin-left: 48px;
    margin-bottom: 32px;

}
.dev-2-1 h5{
    font-size: 24px;
    padding-top: 58px;
    padding-left: 48px;

}
.dev-2-1 p{
    font-size: 16px;
    padding-top: 16px;
    padding-left: 48px;
    padding-bottom: 32px;

}
.dev-2 img{
    width: 274px;
    height: 240px;
    margin: 48px 0 48px 48px;
}
.dev-2-1{
    margin-left: -90px;
}
/* dev-3 */
#chovi{
    
    width: 240px;
    height: 240px;
    margin: 48px 48px 48px 0;
}
.dev-3{
    display: flex;
    margin-top: 48px;
    margin-bottom: 80px;

    gap: 98px;
    background-color: white;
    border-radius: 16px;
    width: 946px;
    margin: 0 auto;
    margin-top: 50px ;

}
.dev-3 a{
    color: #0D1321;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
}
.dev-3 button{
    background-color: white;
    padding: 12px 20px;
    
    margin-left: 48px;
    margin-bottom: 32px;

}
.dev-1-1 h5{
    font-size: 24px;
    padding-top: 58px;
    padding-left: 48px;

}
.dev-1-1 p{
    font-size: 16px;
    padding-top: 16px;
    padding-left: 48px;
    padding-bottom: 32px;

}
/* My inspiration */
.video{
    justify-content: center;
    display: flex;
    margin-top: 48px;
}
.v{
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 25px;
    border-radius: 16px;
    width:1076px; 
    height:550px;
}
/* my target */
.items{
    display: flex;
    padding-bottom: 40px;
}
section img{
    padding: 40px 0 24px 40px;
}
section h2{
    font-size: 24px;
    font-weight: bolder;
    padding-left: 40px;
}
section p{
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-right: 40px;
    color: #0D1321;

}
section a{
    font-size:16px ;
    font-weight: bold;
    padding-left: 40px ;
    color: #0D1321;
}
.item1{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 20px;
    padding-bottom: 40px;
}
.item2{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 20px;
    padding-bottom: 40px;

}
.item3{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    margin-top: 48px;
    margin-right: 20px;
    padding-bottom: 40px;

}
/* support */
.support{
    background-image: url('assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 313px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}
#text{
    width: 548px;
    height: 57px;
    border-radius: 8px;
    border: none;
    font-family: "Azeret Mono", monospace;
    padding-left: 20px;
}
#submit{
    height: 57px;
    width: 120px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 8px;
    border: none;
}
.f-p{
    color: #ffffff;
    padding-bottom: 24px;

}
.f-text{
    font-size: 32px;
    font-weight: bold;
    color: white;
    padding-bottom: 16px;
}
/* footer */
.fix-wi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.firstlink{
    margin: 0;
    padding: 0;
}
footer h6{
    font-size: 20px;
    font-weight: bold;
}
footer{
    background-color: rgba(13, 19, 33, 0.03);
}